<h1>Bookings#show</h1>
<p>Find me in app/views/bookings/show.html.erb</p>
<p>game: <%= @booking.game.name %></p>
<p>user : <%= @booking.user.username %></p>
<p>owner : <%= @booking.game.user.username %></p>
<p>starting date : <%= @booking.starting_date %></p>
<p>ending date : <%= @booking.ending_date %></p>

<%= link_to 'home', root_path %>
