<div class="preview-games">
<%= image_tag "preview-games.jpg", alt: "Le Wagon", class: "img-rounded-left",width: "100%" %>

<div class="p-3">
  <div class="preview-title">
  <h3>They will share with you a moment of pure entertainment...</h3>
  </div>
  <div class="d-flex justify-content-center">
    <div class="divider">
    </div>
  </div>

  <div class="card_header">
    <% @games.each do |game| %>
    <%= link_to game_path(game) do %>

    <div class="card_category">
      <div class="title">
        <h5><%= game.name %></h5>
      </div>
      <ul>
        <div class="platform">
          <li><%= game.platform %></li>
        </div>
        <div class="price">
          <li><%= game.price %>e /day</li>
        </div>
      </ul>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
