
<div class="preview-games">
<%= image_tag "preview-games.jpg", alt: "Le Wagon", class: "img-rounded-left",width: "100%" %>
<div class="p-3">
  <div class="preview-title">
  <h3>They will share with you a moment of pure entertainment...</h3>
  <div class="divider">
</div>
  </div>

  <div class="cards">
    <% @games.each do |game| %>
    <%= link_to game_path(game) do %>

    <% if game.photo.attachment %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path game.photo.key, width: 400, height: 500, crop: :fill %>')">
    <% else %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/featured/?gaming')">
    <% end %>
      <div class="title">
      <%= game.name %>
      </div>
        <div class="platform">
        <%= game.platform %>
        </div>
        <div class="price">
        <%= game.price %> $<div class="price-per-day">per day</div>
        </div>
    </div>
    <% end %>
    <% end %>
    <%= link_to games_path do %>
    <div class="card-link">
      <p>Discover all availables games.
      <i class="fas fa-long-arrow-alt-right"></i>
      </p>
    </div>
    <% end %>
  </div>
</div>
</div>
