<div class="preview-games">
<%= image_tag "preview-games.jpg", alt: "Le Wagon", class: "img-rounded-left",width: "100%" %>

<div class="p-3">
  <div class="preview-title">
  <h3>They will share with you a moment of pure entertainment...</h3>
  </div>
  <div class="d-flex justify-content-center">
    <div class="divider">
    </div>
  </div>

  <div class="cards">
    <% @games.each do |game| %>
    <%= link_to game_path(game) do %>

    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1591631368886-bb78ae96ee13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80')">
      <div class="title">
        <h5><%= game.name %></h5>
      </div>
      <ul>
        <div class="platform">
          <li><%= game.platform %></li>
        </div>
        <div class="price">
          <li><%= game.price %>e /day</li>
        </div>
      </ul>
    </div>
    <% end %>
    <% end %>
  </div>
</div>
</div>
