<div class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("Game-corner-logo1.png") %>
    <% end %>
  </div>
  <div class="links">
  <%= link_to "Signin", new_user_session_path %>
  <%= link_to "Registration", new_user_registration_path, class: "btn_nav" %>
  </div>
</div>


<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1591631368886-bb78ae96ee13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
    <h1> GAMES are sleeping for a long time.<br>Help us to wake them up!</h1>
</div>

<%= render "shared/preview-games" %>
<%= render 'shared/footer' %>
