<div class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("Game-corner-logo1.png") %>
    <% end %>
  </div>
  <div class="links">
  <%= link_to "Signin", new_user_session_path %>
  <%= link_to "Registration", new_user_registration_path, class: "btn_nav" %>
  </div>
</div>


<div class="header">
  <%= image_tag("manettesnes.jpg"), class: "img-head" %>
  <div class="container">
  <p>GAMES are sleeping fot a long time.<br>Help us to wake them up!</p>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<%= link_to "see my games", account_games_path %>
<%= link_to "new game", new_game_path %>
<div class="container">
  <div class="card_header">
    <% @games.each do |game| %>
    <%= link_to game_path(game) do %>

    <div class="card_category">
      <div class="title">
        <h4><%= game.name %></h4>
      </div>
      <ul>
        <div class="platform">
          <li><%= game.platform %></li>
        </div>
        <div class="price">
          <li><%= game.price %> /day</li>
        </div>
      </ul>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<%= render "shared/preview-games" %>
<%= render 'shared/footer' %>
