<div class="navbar">
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag("Game-corner-logo1.png") %>
    <% end %>
  </div>
  <div class="links-nav">
  <%= link_to "Signin", new_user_session_path %>
  <%= link_to "Registration", new_user_registration_path, class: "btn_nav" %>
  </div>
</div>
<%= link_to "Log out", destroy_user_session_path, method: :delete%>

<div class="header">
  <div></div>
  <img src="https://images.unsplash.com/photo-1591631368886-bb78ae96ee13?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" class="header-img" alt="">
  <div class="divider-header"></div>
  <h1 id="header-title1"> GAMES are sleeping for a long time.</h1>
  <h1 id="header-title2">Help us to wake them up!</h1>

</div>
<%= render "shared/preview-games" %>
<%= render 'shared/footer' %>
