<div class="container-form container" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://images.unsplash.com/photo-1580234811497-9df7fd2f357e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1047&q=80')">

  <%= simple_form_for @game do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :platform %>
    <%= f.input :price %>
    <%= f.input :url_trailer %>
    <%= f.input :photo, as: :file %>
    <div class="d-flex justify-content-center">
      <%= f.submit "Submit", class: "btn button-form" %>
    </div>

  <% end %>
</div>
