<h1>games_show</h1>

<ul>
    <li>
      <%= @game.name %>
      <%= @game.platform %>
      <%= @game.price %>
      <% if @game.photo.attachment %>
      <%= cl_image_tag @game.photo.key %>
      <% end %>
      <p>----------------</p>
    </li>
</ul>
<%= link_to 'book the game', new_game_booking_path(@game) %>

